<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navi :: header"></head>
<body>
	<div id="wrapper">
		<nav th:replace="fragments/navi :: top_nav_bar"></nav>
		<!-- /. NAV TOP  -->
		<nav th:replace="../templates/fragments/navi :: navi"></nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">

						<!-- <div class="panel panel-default"> -->
						<div class="panel-heading">
							<h2>Podgląd zawodnika</h2>
						</div>
						<div class="panel-body">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion"
												href="#personal">Dane klubu</a>
										</h4>
									</div>
									<div id="personal" class="panel-collapse collapse"
										style="height: auto;">
										<!-- class="panel-collapse in" -->

										<div class="panel-body">
											<form th:object="${club}">
												<input type="hidden" th:field="*{club_id}" />
												<p>
													Nazwa: <label th:text="*{name}"></label>
												</p>
												<p>
													Miasto: <label th:text="*{city}"></label>
												</p>
												<p>
													Trener: <label
														th:text="*{trainer.name} + ' '+ *{trainer.lastName} "></label>
												</p>
												<p>
													Aktywny: <span th:switch="${club.active}"><label
														th:case="true">tak</label> <label th:case="false">nie</label>
													</span>
												</p>
												

											</form>
											<a th:href="${'/admin/clubEdit/'+club.club_id}"><button
													class="btn btn-primary">
													<i class="fa fa-edit "></i> Edit
												</button></a>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion"
												href="#collapseThree" class="collapsed">Statystyki</a>
										</h4>
									</div>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">Lorem ipsum dolor sit amet,
										consectetur adipisicing elit, sed do eiusmod tempor incididunt
										ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex
										ea commodo consequat. Duis aute irure dolor in reprehenderit
										in voluptate velit esse cillum dolore eu fugiat nulla
										pariatur. Excepteur sint occaecat cupidatat non proident, sunt
										in culpa qui officia deserunt mollit anim id est laborum.</div>
								</div>
							</div>

						</div>
						<!-- 	</div> -->
						<form th:action="@{/admin/panel}" method="get">
							<button type="submit" class="btn btn-primary">Powrót</button>
						</form>
					</div>
				</div>
				<!-- /. ROW  -->
				<hr />

			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="../../assets/js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="../../assets/js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="../../assets/js/jquery.metisMenu.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="../../assets/js/custom.js"></script>


</body>
</html>
